.genre_link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.genre_link h1 {
    padding: 5px;
    color: grey;
    width: 350px;
    transition: 0.7s;
}

.genre_link h1:hover {
    border-radius: 10px;
    background: #e5ca75;
}
