[data-theme='light'] {
    --header-background: #f8edc8;
    --background: #dafeff;
    --text-primary: #d0ac20;
}

[data-theme='dark'] {
    --header-background: rgb(0, 0, 0);
    --background: rgba(0, 0, 0, 0.9);
    --text-primary: #d0ac20;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    border-radius: 5px;
    background: var(--header-background);
    z-index: 5;
}

.body {
    border-radius: 5px;
    background: var(--background);
}

.menu  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    font-size: 32px;
}

.menu a {
    color:#d0ac20;
    text-decoration: none;
}

.logo{
    position: absolute;
    left: 50px;
}

a.logo{
    color: #d0ac20;
    font-weight: bold;
}


.switcher {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 150px;
}

.switcher_text{
    color: var(--text-primary);
    font-size: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(58, 49, 49);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #dafeff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
